.button {
  background: #245462;
  border: none;
  width: 100%;
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  font-family: inherit;
  padding: 13px 12px 12px;
  transition: background 0.3s;
}

.button:hover {
  background: #388197;
}

.button:active {
  background: #183842;
}

.product__button {
  margin-top: 17px;
}
