body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #414141;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.svg {
  display: block;
}
